/*******************************************************************************
 * COPYRIGHT Ericsson 2021
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
::ng-deep .mat-dialog-container {
    background-color: #424242;
    padding-top: unset;
    padding-bottom: unset;
}

mat-dialog-content {
    font-family: Roboto,Helvetica Neue,sans-serif;
}