<mat-card style="display: flex;
padding: 10px 42px;
justify-content: start;
align-items: start; flex-direction: column;">
    <mat-card-header style="font-size: x-large;">{{productDetail.title}}</mat-card-header>
    <mat-card-content style="font-size: inherit;">
        <p style="padding: 6px 0;">{{productDetail.description}}</p>
    </mat-card-content>
</mat-card>

<mat-expansion-panel *ngIf="customJobs.length > 0">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Jobs with custom app type
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let customJob of customJobs">
        {{customJob}}
    </div>
</mat-expansion-panel>
<div *ngFor="let techs of this.techTypes$ | async">
    <dashboard-component [techs]="techs.section" [count]="techs.totalJobs"></dashboard-component>
</div>